.grid-board {
    display: grid;
    grid-template-columns: repeat(10, 32px);
    grid-template-rows: repeat(10, 32px);
    width: 320px;
    height: 320px;
    border: solid;
}

.grid-board div {
    background: url('../assets/minesweeper-sprites.png');
    background-size: 128px 128px;
}

.grid-board .grass {
    background-position-x: 0px;
}
.grid-board .dirt {
    background-position-x: -32px;
}

.grid-board .even {
    background-position-y: 0;
}

.grid-board .odd {
    background-position-y: -32px;
}

.grid-board .even:hover {
    background-position-y: -64px;
}

.grid-board .odd:hover {
    background-position-y: -96px;
}